/* стили для хедера */

.header{
    margin-top: 50px;
}

.nav_list-link{
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}

.icon{
    Width
17.21px
Height
17.58px
Top
3.26px
Left
3.35px
color: #1E0606;
}

.contact_us{
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
}
/* стилидля основного контента */